.navbar {
  background-color: var(--dark) !important;
  border-bottom: 1px solid var(--secondary);
  padding: 15px 0px;

  .nav-item {
    font-size: 14px;
    font-weight: 500;
    padding: 0px 5px;

    .nav-link {
      cursor: pointer;
    }
  }
}

.home-movie-container {
  position: relative;
  width: 160px;
  height: 160px;
  overflow: hidden;
  padding: 0px;
  margin: 8px;

  .movie-img {
    filter: saturate(0.8) contrast(1.1) brightness(0.75);
  }

  &:hover .movie-img {
    filter: saturate(1) contrast(1) brightness(1);
    transform: scale(1.1);
  }

  @media screen and (max-width: 992px) {
    width: 75px;
    height: 75px;
    box-shadow: 0px 5px 50px 5px rgba(0, 0, 0, 0.1);
  }
}

.movie-container {
  position: relative;
  width: 300px;
  height: 350px;
  background-color: #1e1e1e;
  border: 1px solid var(--secondary);
  box-shadow: 0 0 50px -25px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px;
  margin: 10px;

  h1,
  h2,
  h4,
  h3,
  h5 {
    margin: 0px;
  }

  h1 {
    color: var(--light);
    font-size: 22px;
    font-weight: 500;
  }

  h3 {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary);
  }

  &:hover {
    .movie-img img {
      transform: scale(1.1);
      filter: brightness(0.75);
    }

    .menu {
      right: 12px;
      opacity: 1;
    }

    .ratings {
      left: 0px;
      padding-left: 18px;
      opacity: 1;
    }

    .action-stack {
      opacity: 1;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

.menu {
  position: absolute;
  right: -24px;
  top: 12px;
  cursor: pointer;
  opacity: 0;
  z-index: 999;
  transition: 0.25s ease;

  i {
    font-size: 40px;
    color: var(--primary);
    filter: drop-shadow(0px 0px 2px rgba(var(--primary-rgb), 0.5));
  }
}

.ratings {
  position: absolute;
  left: -36px;
  top: 16px;
  opacity: 0;
  z-index: 999;
  transition: 0.25s ease;

  span {
    font-size: 22px;
    font-weight: 600;
    color: var(--light);
    padding: 8px;
  }

  i {
    font-size: 22px;
    color: var(--primary);
    filter: drop-shadow(0px 0px 2px rgba(var(--primary-rgb), 0.5));
  }
}

.movie-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s ease;

  img {
    width: 100%;
    object-fit: cover;
    transition: 0.25s ease;
  }
}

.movie-text {
  padding: 15px;
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 1)
  );
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  bottom: 0px;
  overflow: hidden;
  z-index: 1;
  text-align: left;
  transition: 0.25s ease;
}

.action-stack {
  opacity: 0;
  margin-top: 20px;
  margin-bottom: -60px;
  transition: 0.25s ease;
  .watch-btn {
    h3 {
      i {
        color: var(--primary);
        font-size: 14px;
        margin-right: 5px;
        font-weight: 600;
      }
    }
    cursor: pointer;
    display: block;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 5px;
  }

  .action-btn {
    background: transparent;
    border: none;
    outline: none;

    i {
      color: var(--primary);
      font-size: 24px;
      text-align: right;
      filter: drop-shadow(0px 0px 2px rgba(var(--primary-rgb), 0.5));
    }

    i:disabled {
      cursor: not-allowed !important;
    }

    i:last-child {
      padding: 0px 0px 0px 20px;
    }
  }
}

.filters-tab {
  color: var(--light);
  padding: 0px 10px;
  font-size: 16;
  font-style: italic;

  i {
    color: var(--primary);
    cursor: pointer;
  }
}

.filter-container {
  position: fixed;
  left: 0;
  top: 70px;
  padding: 20px;
  overflow: scroll;
  max-height: 100vh;
  background-color: rgba(235, 235, 235, 0.05);

  span {
    display: block;
    color: var(--primary);
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 5px;
  }

  .side-dropdown {
    padding: 0;
    list-style-type: none;
    max-height: 204px;
    overflow-y: scroll;
    position: relative;

    li {
      cursor: pointer;
      color: var(--light);
      padding: 5px 10px;
      transition: 0.25s ease;
      border-radius: 5px;
      margin-right: 10px;

      &:hover {
        color: var(--primary);
      }
    }

    .selected {
      font-weight: 500;
      background: rgba(var(--light-rgb), 0.1);
      color: var(--light) !important;
    }
  }

  .filter-dropdown {
    .filter-btn {
      color: var(--light) !important;
      background: var(--secondary);
      width: 175px;
      font-size: 14px;
      text-align: left;
    }

    .dropdown-menu {
      margin-top: 10px !important;
      padding: 5px;
      border-radius: 5px;
      background-color: var(--secondary);
      min-width: inherit;
      width: 180px;
      max-height: 250px;
      overflow-y: scroll;
      overflow-x: hidden;

      .dropdown-item {
        min-width: inherit;
        border-radius: 5px;
        font-size: 14px;
        padding: 6px 10px;
        color: var(--light) !important;
      }

      .dropdown-item:hover {
        cursor: pointer;
        background-color: rgba(235, 235, 235, 0.05);
      }
    }
  }
}

.context-dropdown {
  .dropdown-menu {
    margin-top: 15px !important;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--secondary);
    min-width: inherit;
    overflow: hidden;

    .dropdown-item {
      min-width: inherit;
      border-radius: 5px;
      font-size: 16px;
      padding: 6px 10px;
      color: var(--light) !important;
    }

    .dropdown-item:hover {
      cursor: pointer;
      background-color: rgba(235, 235, 235, 0.05);
    }
  }

  span {
    display: block;
    color: var(--light);
    text-align: left;
    font-size: 14px;
    padding: 10px 5px;
  }
}

.movie-card {
  color: var(--light);
  border-radius: 10px;

  .poster-img {
    height: 400px;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.25s ease;

    img {
      width: 300px;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      transition: 0.25s ease;
      background-color: var(--primary-dark);
      border: 1px solid var(--secondary);
      box-shadow: 0 0 50px -25px rgba(0, 0, 0, 0.25);
    }
  }

  .actions {
    margin: 20px 0px;

    .action-btn {
      border: none;
      outline: none;
      background: var(--primary-dark);
      font-size: 16px;
      text-align: center;
      box-sizing: border-box;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 0px 10px;
      transition: 0.25s ease;
      box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.25);

      i {
        color: var(--dark);
        padding: 0px !important;
        cursor: pointer;
      }

      i:last-child {
        padding: 0px 0px 0px 20px;
      }
    }
  }

  .details {
    padding: 20px 20px 20px 40px;

    .title {
      color: var(--light);
      font-size: 36px;
      font-weight: 500;
      letter-spacing: 1px;
    }

    .tagline {
      color: var(--light-white);
      font-size: 16px;
      max-width: 600px;
      font-weight: 300;
    }

    .star-rating {
      margin: 0px 20px;

      i {
        color: var(--primary);
        padding: 0px 3px;
      }
    }
  }

  .description {
    padding: 10px 0px;
    max-width: 600px;
    font-size: 16px;
    line-height: 26px;
    color: var(--light-white);
    transition: 0.25s ease;
  }

  .genres {
    margin: 10px 0px;
    transition: 0.25s ease;

    .genre {
      background: var(--secondary);
      border-radius: 5px;
      padding: 4px 8px;
      font-size: 13px;
      margin-right: 5px;
      cursor: pointer;
      transition: 0.25s ease;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .avatars {
    .avatar-container {
      margin-right: 15px;
      width: 75px;
      height: 75px;
      border: 2px solid var(--secondary);
      box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      border-radius: 50px;
      cursor: pointer;
      transition: 0.25s ease;

      @media screen and (max-width: 992px) {
        margin-right: 9px;
        width: 60px;
        height: 60px;
      }

      &:hover {
        transform: scale(1.2);
      }

      img {
        height: 75px;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: 0.25s ease;
        filter: brightness(0.85);

        @media screen and (max-width: 992px) {
          height: 60px;
        }
      }

      &:hover {
        img {
          filter: brightness(1);
        }
      }
    }
  }

  .review-container {
    max-width: 600px;
    font-size: 16px;
    line-height: 26px;
    color: var(--light-white);

    .reviews {
      height: 200px;
      overflow-y: scroll;

      ul {
        list-style: none;
        padding-left: 0px;

        .user-link {
          font-weight: 600 !important;
          color: var(--light) !important;
          cursor: pointer !important;

          &:hover {
            text-decoration: underline !important;
          }
        }
      }
    }
  }
}

.survey-container {
  text-align: left;
  label {
    font-size: 15px;
    text-indent: 10px;
    display: block;
    line-height: 30px;
    cursor: pointer;
  }

  .survey-option {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 3px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 16px;
    width: 16px;
    transition: 0.25s ease;
    background: rgba(235, 235, 235, 0.2);
    border: none;
    color: var(--light);
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
  }

  .survey-option:hover {
    background: var(--light);
  }

  .survey-option:checked {
    background: var(--primary);
  }

  .survey-option:checked::before {
    content: "";
    display: inline-block;
    transform: rotate(50deg);
    height: 10px;
    width: 5px;
    margin-left: 30%;
    border-bottom: 2px solid var(--light);
    border-right: 2px solid var(--light);
    position: absolute;
    bottom: 5px;
    align-items: center;
    justify-content: center;
  }

  .survey-option.radio {
    border-radius: 50%;
  }

  .survey-option.radio::after {
    border-radius: 50%;
  }
}

.footer {
  background-color: var(--dark) !important;
  border-top: 1px solid var(--secondary);
  padding: 15px 0px 30px;
}

.footer .copyright_text {
  color: var(--light) !important;
  text-align: center;
}
