@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #e8231c;
  --primary-rgb: 232, 35, 28;

  --primary-dark: #ac0600;
  --primary-light: #f8dfdd;

  --secondary: #202020;
  --secondary-rgb: 32, 32, 32;

  --danger: #d4112e;
  --danger-rgb: 212, 17, 46;

  --success: #20c51a;
  --success-rgb: 32, 197, 26;

  --dark: #0e0e0e;
  --dark-rgb: 14, 14, 14;

  --light: #fbfbfb;
  --light-rgb: 251, 251, 251;

  --light-white: #d8d8d8;
  --light-white-rgb: 216, 216, 216;

  --main-font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  cursor: default;
  user-select: none;
}

*:disabled {
  cursor: not-allowed !important;
}

svg,
img {
  pointer-events: none;
}

body {
  background-color: var(--dark);
  transition: background-color 0.2s ease;
  overflow-x: hidden;
}

.is-invalid {
  border: 1px solid var(--danger) !important;
}

.invalid-feedback {
  font-size: 13px;
  font-weight: 600;
  transition: 0.2s ease;
}

.alert {
  margin: 0px;
  font-size: 16px;
  padding: 5px 10px;
}

.alert.alert-danger {
  color: var(--danger);
  background: rgba(var(--danger-rgb), 0.1);
  border: 1px solid rgba(var(--danger-rgb), 0.1);
}

.alert.alert-success {
  color: var(--success);
  background: rgba(var(--success-rgb), 0.1);
  border: 1px solid rgba(var(--success-rgb), 0.1);
}

.form-container {
  background-color: rgba(235, 235, 235, 0.05);
  border-radius: 10px;
  box-shadow: 0 0 50px -50px rgba(0, 0, 0, 0.2);
}

.form-container .title {
  color: var(--light);
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}

.form-container .title:after {
  content: "";
  background-color: var(--primary);
  height: 3px;
  width: 60px;
  margin: 10px 0 0;
  display: block;
  clear: both;
}

.form-group label {
  color: var(--light);
  margin: 5px 0px;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}

.form-control {
  color: var(--light) !important;
  background: var(--secondary) !important;
  border: 1px solid transparent !important;
  height: 40px;
  border-radius: 5px;
  border: none;
  box-shadow: none !important;
}

.form-control:disabled {
  background: rgba(var(--secondary-rgb), 0.05);
  border-color: var(--secondary);
}

/* .form-control:hover,
.form-control:focus {
  border-color: var(--light-white) !important;
} */

.form-container .signin-link {
  min-width: 360px;
  color: var(--light);
  font-size: 14px;
}

.form-container .signin-link a {
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s ease;
}

.form-container .signin-link a:hover {
  text-decoration: underline;
}

.primary-btn {
  color: var(--dark) !important;
  background: var(--primary);
  font-size: 16px;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.2s ease;
  box-shadow: none !important;
  border: none;
  outline: none;
}

.primary-btn:hover,
.primary-btn:focus {
  background: var(--primary-dark);
}

.primary-btn:disabled {
  cursor: not-allowed !important;
  background: var(--primary-dark);
}

.pagination {
  justify-content: center;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.page-item .page-link {
  position: relative;
  display: block;
  padding: 8px 16px;
  margin: 0px 6px 0px 0px;
  border-radius: 3px;
  border: 1px solid var(--secondary);
  background: transparent;
  box-shadow: none !important;
  color: var(--light) !important;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s ease;
}

.page-item a.page-link:hover {
  background-color: var(--secondary) !important;
}

.page-item.active .page-link {
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
}

.page-item.disabled .page-link {
  background-color: transparent;
  border-color: var(--secondary);
  color: var(--light-white) !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.tooltip {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  color: var(--light) !important;
  background: var(--dark) !important;
  font-size: 14px !important;
  border: 1px solid rgba(51, 51, 51, 1) !important;
  padding: 5px 10px !important;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: var(--light);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
